
<h1>Listagem Produtos</h1>

<% @products.each do |product| %>
  <h2><%= product.name %></h2>
  <p><%= product.description %></p>

  R$: <%= product.price %><br />
  <% if product.price <= 10000 %>
    Qty: <%= product.price  %>
  <% end %>
<% end %>
